my-app{
	height: 100%;
	display: block;
	@extend .flex-vertical;

	app-nav{
		display: block;
		@extend .flex-none;
	}

	router-outlet{

	}

	dashboard-page{
		display: block;
		height: 100%;
		@extend .flex-1;
	}
}