html {
  font-size: 16px; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Sans-Serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.flex, .flex-horizontal, .flex-horizontal-large, .widget-builder, .flex-vertical, my-app, .flex-center-vertical, .flex-center-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  min-height: 0; }

.flex-horizontal, .flex-horizontal-large, .widget-builder {
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-direction: row; }
  .flex-horizontal.flex-reverse, .flex-reverse.flex-horizontal-large, .flex-reverse.widget-builder {
    flex-direction: row-reverse; }

@media all and (max-width: 800px) {
  .flex-horizontal-large {
    display: block; }
    .flex-horizontal-large > *:not(:last-child) {
      margin-bottom: .5rem; } }

.flex-vertical, my-app {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column; }
  .flex-vertical.flex-reverse, my-app.flex-reverse {
    flex-direction: column-reverse; }

.flex-center-vertical {
  -webkit-align-items: center;
  align-items: center; }

.flex-center-horizontal {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-1, .widget-builder .widget-builder-canvas, my-app dashboard-page {
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  min-height: 0; }

.flex-2 {
  flex: 2;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  min-height: 0; }

.flex-3 {
  flex: 3;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  min-height: 0; }

.flex-4 {
  flex: 4;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  min-height: 0; }

.flex-5 {
  flex: 5;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  min-height: 0; }

.flex-0, .flex-none, .widget-builder .widget-builder-settings, my-app app-nav {
  flex: none;
  -webkit-box-flex: none;
  -webkit-flex: none; }

.dashboard-color-error {
  color: #cc3a3a; }

.dashboard-background-color-error {
  background-color: #cc3a3a;
  color: White; }
  .dashboard-background-color-error.btn:hover, .dashboard-background-color-error.btn:focus, .dashboard-background-color-error.object-link:hover, .dashboard-background-color-error.object-link:focus {
    background-color: #a82b2b;
    color: White; }

.dashboard-color-warning {
  color: #ffd144; }

.dashboard-background-color-warning {
  background-color: #ffd144;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-warning.btn:hover, .dashboard-background-color-warning.btn:focus, .dashboard-background-color-warning.object-link:hover, .dashboard-background-color-warning.object-link:focus {
    background-color: #ffc411;
    color: White; }

.dashboard-color-primary {
  color: #0097c8; }

.dashboard-background-color-primary {
  background-color: #0097c8;
  color: White; }
  .dashboard-background-color-primary.btn:hover, .dashboard-background-color-primary.btn:focus, .dashboard-background-color-primary.object-link:hover, .dashboard-background-color-primary.object-link:focus {
    background-color: #007095;
    color: White; }

.dashboard-color-primary-hover {
  color: rgba(233, 242, 247, 0.36); }

.dashboard-background-color-primary-hover {
  background-color: rgba(233, 242, 247, 0.36);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-hover.btn:hover, .dashboard-background-color-primary-hover.btn:focus, .dashboard-background-color-primary-hover.object-link:hover, .dashboard-background-color-primary-hover.object-link:focus {
    background-color: rgba(196, 220, 233, 0.36);
    color: White; }

.dashboard-color-primary-light {
  color: #38c7d4; }

.dashboard-background-color-primary-light {
  background-color: #38c7d4;
  color: White; }
  .dashboard-background-color-primary-light.btn:hover, .dashboard-background-color-primary-light.btn:focus, .dashboard-background-color-primary-light.object-link:hover, .dashboard-background-color-primary-light.object-link:focus {
    background-color: #27a7b2;
    color: White; }

.dashboard-color-primary-dark-background {
  color: #6ADBFF; }

.dashboard-background-color-primary-dark-background {
  background-color: #6ADBFF;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-dark-background.btn:hover, .dashboard-background-color-primary-dark-background.btn:focus, .dashboard-background-color-primary-dark-background.object-link:hover, .dashboard-background-color-primary-dark-background.object-link:focus {
    background-color: #37cfff;
    color: White; }

.dashboard-color-primary-dark {
  color: #2F539C; }

.dashboard-background-color-primary-dark {
  background-color: #2F539C;
  color: White; }
  .dashboard-background-color-primary-dark.btn:hover, .dashboard-background-color-primary-dark.btn:focus, .dashboard-background-color-primary-dark.object-link:hover, .dashboard-background-color-primary-dark.object-link:focus {
    background-color: #233e75;
    color: White; }

.dashboard-color-primary-100 {
  color: #e9f2f7; }

.dashboard-background-color-primary-100 {
  background-color: #e9f2f7;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-100.btn:hover, .dashboard-background-color-primary-100.btn:focus, .dashboard-background-color-primary-100.object-link:hover, .dashboard-background-color-primary-100.object-link:focus {
    background-color: #c4dce9;
    color: White; }

.dashboard-color-primary-500 {
  color: #0072bc; }

.dashboard-background-color-primary-500 {
  background-color: #0072bc;
  color: White; }
  .dashboard-background-color-primary-500.btn:hover, .dashboard-background-color-primary-500.btn:focus, .dashboard-background-color-primary-500.object-link:hover, .dashboard-background-color-primary-500.object-link:focus {
    background-color: #005389;
    color: White; }

.dashboard-color-primary-400 {
  color: #068db9; }

.dashboard-background-color-primary-400 {
  background-color: #068db9;
  color: White; }
  .dashboard-background-color-primary-400.btn:hover, .dashboard-background-color-primary-400.btn:focus, .dashboard-background-color-primary-400.object-link:hover, .dashboard-background-color-primary-400.object-link:focus {
    background-color: #046788;
    color: White; }

.dashboard-color-primary-200 {
  color: #DFE4E8; }

.dashboard-background-color-primary-200 {
  background-color: #DFE4E8;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-200.btn:hover, .dashboard-background-color-primary-200.btn:focus, .dashboard-background-color-primary-200.object-link:hover, .dashboard-background-color-primary-200.object-link:focus {
    background-color: #c1cbd3;
    color: White; }

.dashboard-color-secondary {
  color: #FF1753; }

.dashboard-background-color-secondary {
  background-color: #FF1753;
  color: White; }
  .dashboard-background-color-secondary.btn:hover, .dashboard-background-color-secondary.btn:focus, .dashboard-background-color-secondary.object-link:hover, .dashboard-background-color-secondary.object-link:focus {
    background-color: #e3003b;
    color: White; }

.dashboard-color-gray-100 {
  color: #f5f5f5; }

.dashboard-background-color-gray-100 {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-gray-100.btn:hover, .dashboard-background-color-gray-100.btn:focus, .dashboard-background-color-gray-100.object-link:hover, .dashboard-background-color-gray-100.object-link:focus {
    background-color: gainsboro;
    color: White; }

.dashboard-color-gray-200 {
  color: #dcdcdc; }

.dashboard-background-color-gray-200 {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-gray-200.btn:hover, .dashboard-background-color-gray-200.btn:focus, .dashboard-background-color-gray-200.object-link:hover, .dashboard-background-color-gray-200.object-link:focus {
    background-color: #c3c3c3;
    color: White; }

.dashboard-color-gray-500 {
  color: #9E9E9E; }

.dashboard-background-color-gray-500 {
  background-color: #9E9E9E;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-gray-500.btn:hover, .dashboard-background-color-gray-500.btn:focus, .dashboard-background-color-gray-500.object-link:hover, .dashboard-background-color-gray-500.object-link:focus {
    background-color: #858585;
    color: White; }

.dashboard-color-gray-700 {
  color: #616161; }

.dashboard-background-color-gray-700 {
  background-color: #616161;
  color: White; }
  .dashboard-background-color-gray-700.btn:hover, .dashboard-background-color-gray-700.btn:focus, .dashboard-background-color-gray-700.object-link:hover, .dashboard-background-color-gray-700.object-link:focus {
    background-color: #484848;
    color: White; }

.dashboard-color-gray-900 {
  color: #333333; }

.dashboard-background-color-gray-900 {
  background-color: #333333;
  color: White; }
  .dashboard-background-color-gray-900.btn:hover, .dashboard-background-color-gray-900.btn:focus, .dashboard-background-color-gray-900.object-link:hover, .dashboard-background-color-gray-900.object-link:focus {
    background-color: #1a1a1a;
    color: White; }

.dashboard-color-light-very-low-opacity {
  color: rgba(255, 255, 255, 0.12); }

.dashboard-background-color-light-very-low-opacity {
  background-color: rgba(255, 255, 255, 0.12);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-very-low-opacity.btn:hover, .dashboard-background-color-light-very-low-opacity.btn:focus, .dashboard-background-color-light-very-low-opacity.object-link:hover, .dashboard-background-color-light-very-low-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.12);
    color: White; }

.dashboard-color-light-low-opacity {
  color: rgba(255, 255, 255, 0.4); }

.dashboard-background-color-light-low-opacity {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-low-opacity.btn:hover, .dashboard-background-color-light-low-opacity.btn:focus, .dashboard-background-color-light-low-opacity.object-link:hover, .dashboard-background-color-light-low-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.4);
    color: White; }

.dashboard-color-light-medium-low-opacity {
  color: rgba(255, 255, 255, 0.54); }

.dashboard-background-color-light-medium-low-opacity {
  background-color: rgba(255, 255, 255, 0.54);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-medium-low-opacity.btn:hover, .dashboard-background-color-light-medium-low-opacity.btn:focus, .dashboard-background-color-light-medium-low-opacity.object-link:hover, .dashboard-background-color-light-medium-low-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.54);
    color: White; }

.dashboard-color-light-medium-opacity {
  color: rgba(255, 255, 255, 0.76); }

.dashboard-background-color-light-medium-opacity {
  background-color: rgba(255, 255, 255, 0.76);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-medium-opacity.btn:hover, .dashboard-background-color-light-medium-opacity.btn:focus, .dashboard-background-color-light-medium-opacity.object-link:hover, .dashboard-background-color-light-medium-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.76);
    color: White; }

.dashboard-color-light-high-opacity {
  color: rgba(255, 255, 255, 0.87); }

.dashboard-background-color-light-high-opacity {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-high-opacity.btn:hover, .dashboard-background-color-light-high-opacity.btn:focus, .dashboard-background-color-light-high-opacity.object-link:hover, .dashboard-background-color-light-high-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.87);
    color: White; }

.dashboard-color-dark-low-opacity {
  color: rgba(0, 0, 0, 0.4); }

.dashboard-background-color-dark-low-opacity {
  background-color: rgba(0, 0, 0, 0.4);
  color: White; }
  .dashboard-background-color-dark-low-opacity.btn:hover, .dashboard-background-color-dark-low-opacity.btn:focus, .dashboard-background-color-dark-low-opacity.object-link:hover, .dashboard-background-color-dark-low-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.4);
    color: White; }

.dashboard-color-dark-very-low-opacity {
  color: rgba(0, 0, 0, 0.12); }

.dashboard-background-color-dark-very-low-opacity {
  background-color: rgba(0, 0, 0, 0.12);
  color: White; }
  .dashboard-background-color-dark-very-low-opacity.btn:hover, .dashboard-background-color-dark-very-low-opacity.btn:focus, .dashboard-background-color-dark-very-low-opacity.object-link:hover, .dashboard-background-color-dark-very-low-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
    color: White; }

.dashboard-color-dark-medium-low-opacity {
  color: rgba(0, 0, 0, 0.54); }

.dashboard-background-color-dark-medium-low-opacity {
  background-color: rgba(0, 0, 0, 0.54);
  color: White; }
  .dashboard-background-color-dark-medium-low-opacity.btn:hover, .dashboard-background-color-dark-medium-low-opacity.btn:focus, .dashboard-background-color-dark-medium-low-opacity.object-link:hover, .dashboard-background-color-dark-medium-low-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.54);
    color: White; }

.dashboard-color-dark-medium-opacity {
  color: rgba(0, 0, 0, 0.76); }

.dashboard-background-color-dark-medium-opacity {
  background-color: rgba(0, 0, 0, 0.76);
  color: White; }
  .dashboard-background-color-dark-medium-opacity.btn:hover, .dashboard-background-color-dark-medium-opacity.btn:focus, .dashboard-background-color-dark-medium-opacity.object-link:hover, .dashboard-background-color-dark-medium-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.76);
    color: White; }

.dashboard-color-dark-high-opacity {
  color: rgba(0, 0, 0, 0.87); }

.dashboard-background-color-dark-high-opacity {
  background-color: rgba(0, 0, 0, 0.87);
  color: White; }
  .dashboard-background-color-dark-high-opacity.btn:hover, .dashboard-background-color-dark-high-opacity.btn:focus, .dashboard-background-color-dark-high-opacity.object-link:hover, .dashboard-background-color-dark-high-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.87);
    color: White; }

.dashboard {
  background: #D9DDE0;
  padding: 1rem; }
  .dashboard .widget {
    margin: 0 0 1rem 0;
    position: relative;
    box-sizing: border-box;
    background: White; }
    .dashboard .widget .widget-contents {
      background: White;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
    .dashboard .widget .widget-contents-header {
      padding: 1rem;
      border-radius: 2px 2px 0 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .dashboard .widget .widget-contents-body {
      padding: 1rem; }
    .dashboard .widget .widget-error {
      padding: 2rem;
      background-color: #cc3a3a;
      color: White;
      text-align: center; }
      .dashboard .widget .widget-error .widget-error-message {
        display: inline-block;
        max-width: 500px;
        font-size: 1.2rem;
        text-align: left; }
      .dashboard .widget .widget-error .widget-error-message-status {
        margin-top: 1rem; }
        .dashboard .widget .widget-error .widget-error-message-status label {
          font-weight: bold; }

.dashboard-color-error {
  color: #cc3a3a; }

.dashboard-background-color-error {
  background-color: #cc3a3a;
  color: White; }
  .dashboard-background-color-error.btn:hover, .dashboard-background-color-error.btn:focus, .dashboard-background-color-error.object-link:hover, .dashboard-background-color-error.object-link:focus {
    background-color: #a82b2b;
    color: White; }

.dashboard-color-warning {
  color: #ffd144; }

.dashboard-background-color-warning {
  background-color: #ffd144;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-warning.btn:hover, .dashboard-background-color-warning.btn:focus, .dashboard-background-color-warning.object-link:hover, .dashboard-background-color-warning.object-link:focus {
    background-color: #ffc411;
    color: White; }

.dashboard-color-primary {
  color: #0097c8; }

.dashboard-background-color-primary {
  background-color: #0097c8;
  color: White; }
  .dashboard-background-color-primary.btn:hover, .dashboard-background-color-primary.btn:focus, .dashboard-background-color-primary.object-link:hover, .dashboard-background-color-primary.object-link:focus {
    background-color: #007095;
    color: White; }

.dashboard-color-primary-hover {
  color: rgba(233, 242, 247, 0.36); }

.dashboard-background-color-primary-hover {
  background-color: rgba(233, 242, 247, 0.36);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-hover.btn:hover, .dashboard-background-color-primary-hover.btn:focus, .dashboard-background-color-primary-hover.object-link:hover, .dashboard-background-color-primary-hover.object-link:focus {
    background-color: rgba(196, 220, 233, 0.36);
    color: White; }

.dashboard-color-primary-light {
  color: #38c7d4; }

.dashboard-background-color-primary-light {
  background-color: #38c7d4;
  color: White; }
  .dashboard-background-color-primary-light.btn:hover, .dashboard-background-color-primary-light.btn:focus, .dashboard-background-color-primary-light.object-link:hover, .dashboard-background-color-primary-light.object-link:focus {
    background-color: #27a7b2;
    color: White; }

.dashboard-color-primary-dark-background {
  color: #6ADBFF; }

.dashboard-background-color-primary-dark-background {
  background-color: #6ADBFF;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-dark-background.btn:hover, .dashboard-background-color-primary-dark-background.btn:focus, .dashboard-background-color-primary-dark-background.object-link:hover, .dashboard-background-color-primary-dark-background.object-link:focus {
    background-color: #37cfff;
    color: White; }

.dashboard-color-primary-dark {
  color: #2F539C; }

.dashboard-background-color-primary-dark {
  background-color: #2F539C;
  color: White; }
  .dashboard-background-color-primary-dark.btn:hover, .dashboard-background-color-primary-dark.btn:focus, .dashboard-background-color-primary-dark.object-link:hover, .dashboard-background-color-primary-dark.object-link:focus {
    background-color: #233e75;
    color: White; }

.dashboard-color-primary-100 {
  color: #e9f2f7; }

.dashboard-background-color-primary-100 {
  background-color: #e9f2f7;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-100.btn:hover, .dashboard-background-color-primary-100.btn:focus, .dashboard-background-color-primary-100.object-link:hover, .dashboard-background-color-primary-100.object-link:focus {
    background-color: #c4dce9;
    color: White; }

.dashboard-color-primary-500 {
  color: #0072bc; }

.dashboard-background-color-primary-500 {
  background-color: #0072bc;
  color: White; }
  .dashboard-background-color-primary-500.btn:hover, .dashboard-background-color-primary-500.btn:focus, .dashboard-background-color-primary-500.object-link:hover, .dashboard-background-color-primary-500.object-link:focus {
    background-color: #005389;
    color: White; }

.dashboard-color-primary-400 {
  color: #068db9; }

.dashboard-background-color-primary-400 {
  background-color: #068db9;
  color: White; }
  .dashboard-background-color-primary-400.btn:hover, .dashboard-background-color-primary-400.btn:focus, .dashboard-background-color-primary-400.object-link:hover, .dashboard-background-color-primary-400.object-link:focus {
    background-color: #046788;
    color: White; }

.dashboard-color-primary-200 {
  color: #DFE4E8; }

.dashboard-background-color-primary-200 {
  background-color: #DFE4E8;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-primary-200.btn:hover, .dashboard-background-color-primary-200.btn:focus, .dashboard-background-color-primary-200.object-link:hover, .dashboard-background-color-primary-200.object-link:focus {
    background-color: #c1cbd3;
    color: White; }

.dashboard-color-secondary {
  color: #FF1753; }

.dashboard-background-color-secondary {
  background-color: #FF1753;
  color: White; }
  .dashboard-background-color-secondary.btn:hover, .dashboard-background-color-secondary.btn:focus, .dashboard-background-color-secondary.object-link:hover, .dashboard-background-color-secondary.object-link:focus {
    background-color: #e3003b;
    color: White; }

.dashboard-color-gray-100 {
  color: #f5f5f5; }

.dashboard-background-color-gray-100 {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-gray-100.btn:hover, .dashboard-background-color-gray-100.btn:focus, .dashboard-background-color-gray-100.object-link:hover, .dashboard-background-color-gray-100.object-link:focus {
    background-color: gainsboro;
    color: White; }

.dashboard-color-gray-200 {
  color: #dcdcdc; }

.dashboard-background-color-gray-200 {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-gray-200.btn:hover, .dashboard-background-color-gray-200.btn:focus, .dashboard-background-color-gray-200.object-link:hover, .dashboard-background-color-gray-200.object-link:focus {
    background-color: #c3c3c3;
    color: White; }

.dashboard-color-gray-500 {
  color: #9E9E9E; }

.dashboard-background-color-gray-500 {
  background-color: #9E9E9E;
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-gray-500.btn:hover, .dashboard-background-color-gray-500.btn:focus, .dashboard-background-color-gray-500.object-link:hover, .dashboard-background-color-gray-500.object-link:focus {
    background-color: #858585;
    color: White; }

.dashboard-color-gray-700 {
  color: #616161; }

.dashboard-background-color-gray-700 {
  background-color: #616161;
  color: White; }
  .dashboard-background-color-gray-700.btn:hover, .dashboard-background-color-gray-700.btn:focus, .dashboard-background-color-gray-700.object-link:hover, .dashboard-background-color-gray-700.object-link:focus {
    background-color: #484848;
    color: White; }

.dashboard-color-gray-900 {
  color: #333333; }

.dashboard-background-color-gray-900 {
  background-color: #333333;
  color: White; }
  .dashboard-background-color-gray-900.btn:hover, .dashboard-background-color-gray-900.btn:focus, .dashboard-background-color-gray-900.object-link:hover, .dashboard-background-color-gray-900.object-link:focus {
    background-color: #1a1a1a;
    color: White; }

.dashboard-color-light-very-low-opacity {
  color: rgba(255, 255, 255, 0.12); }

.dashboard-background-color-light-very-low-opacity {
  background-color: rgba(255, 255, 255, 0.12);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-very-low-opacity.btn:hover, .dashboard-background-color-light-very-low-opacity.btn:focus, .dashboard-background-color-light-very-low-opacity.object-link:hover, .dashboard-background-color-light-very-low-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.12);
    color: White; }

.dashboard-color-light-low-opacity {
  color: rgba(255, 255, 255, 0.4); }

.dashboard-background-color-light-low-opacity {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-low-opacity.btn:hover, .dashboard-background-color-light-low-opacity.btn:focus, .dashboard-background-color-light-low-opacity.object-link:hover, .dashboard-background-color-light-low-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.4);
    color: White; }

.dashboard-color-light-medium-low-opacity {
  color: rgba(255, 255, 255, 0.54); }

.dashboard-background-color-light-medium-low-opacity {
  background-color: rgba(255, 255, 255, 0.54);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-medium-low-opacity.btn:hover, .dashboard-background-color-light-medium-low-opacity.btn:focus, .dashboard-background-color-light-medium-low-opacity.object-link:hover, .dashboard-background-color-light-medium-low-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.54);
    color: White; }

.dashboard-color-light-medium-opacity {
  color: rgba(255, 255, 255, 0.76); }

.dashboard-background-color-light-medium-opacity {
  background-color: rgba(255, 255, 255, 0.76);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-medium-opacity.btn:hover, .dashboard-background-color-light-medium-opacity.btn:focus, .dashboard-background-color-light-medium-opacity.object-link:hover, .dashboard-background-color-light-medium-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.76);
    color: White; }

.dashboard-color-light-high-opacity {
  color: rgba(255, 255, 255, 0.87); }

.dashboard-background-color-light-high-opacity {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgba(0, 0, 0, 0.87); }
  .dashboard-background-color-light-high-opacity.btn:hover, .dashboard-background-color-light-high-opacity.btn:focus, .dashboard-background-color-light-high-opacity.object-link:hover, .dashboard-background-color-light-high-opacity.object-link:focus {
    background-color: rgba(230, 230, 230, 0.87);
    color: White; }

.dashboard-color-dark-low-opacity {
  color: rgba(0, 0, 0, 0.4); }

.dashboard-background-color-dark-low-opacity {
  background-color: rgba(0, 0, 0, 0.4);
  color: White; }
  .dashboard-background-color-dark-low-opacity.btn:hover, .dashboard-background-color-dark-low-opacity.btn:focus, .dashboard-background-color-dark-low-opacity.object-link:hover, .dashboard-background-color-dark-low-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.4);
    color: White; }

.dashboard-color-dark-very-low-opacity {
  color: rgba(0, 0, 0, 0.12); }

.dashboard-background-color-dark-very-low-opacity {
  background-color: rgba(0, 0, 0, 0.12);
  color: White; }
  .dashboard-background-color-dark-very-low-opacity.btn:hover, .dashboard-background-color-dark-very-low-opacity.btn:focus, .dashboard-background-color-dark-very-low-opacity.object-link:hover, .dashboard-background-color-dark-very-low-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
    color: White; }

.dashboard-color-dark-medium-low-opacity {
  color: rgba(0, 0, 0, 0.54); }

.dashboard-background-color-dark-medium-low-opacity {
  background-color: rgba(0, 0, 0, 0.54);
  color: White; }
  .dashboard-background-color-dark-medium-low-opacity.btn:hover, .dashboard-background-color-dark-medium-low-opacity.btn:focus, .dashboard-background-color-dark-medium-low-opacity.object-link:hover, .dashboard-background-color-dark-medium-low-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.54);
    color: White; }

.dashboard-color-dark-medium-opacity {
  color: rgba(0, 0, 0, 0.76); }

.dashboard-background-color-dark-medium-opacity {
  background-color: rgba(0, 0, 0, 0.76);
  color: White; }
  .dashboard-background-color-dark-medium-opacity.btn:hover, .dashboard-background-color-dark-medium-opacity.btn:focus, .dashboard-background-color-dark-medium-opacity.object-link:hover, .dashboard-background-color-dark-medium-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.76);
    color: White; }

.dashboard-color-dark-high-opacity {
  color: rgba(0, 0, 0, 0.87); }

.dashboard-background-color-dark-high-opacity {
  background-color: rgba(0, 0, 0, 0.87);
  color: White; }
  .dashboard-background-color-dark-high-opacity.btn:hover, .dashboard-background-color-dark-high-opacity.btn:focus, .dashboard-background-color-dark-high-opacity.object-link:hover, .dashboard-background-color-dark-high-opacity.object-link:focus {
    background-color: rgba(0, 0, 0, 0.87);
    color: White; }

.main-nav {
  background: Black;
  color: White;
  padding: 0; }
  .main-nav a {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1rem; }
    .main-nav a.router-link-active {
      background: #FF1753;
      cursor: default; }

.bars-chart ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .bars-chart ul.clickable:hover li {
    opacity: .6; }
  .bars-chart ul.clickable li {
    cursor: pointer; }
    .bars-chart ul.clickable li:hover {
      opacity: 1 !important; }
.bars-chart li {
  padding-bottom: 1rem; }
  .bars-chart li.with-icon {
    position: relative;
    padding-left: 33px; }
.bars-chart label {
  margin-bottom: 2px;
  font-weight: 400; }
.bars-chart .bars-chart-bar {
  background: #0097c8;
  color: white;
  font-size: 11px;
  padding: 1px 6px;
  font-weight: 700;
  text-align: right;
  height: 17px;
  border-radius: 9px;
  transition: all 600ms ease; }
  .bars-chart .bars-chart-bar.outter-value {
    color: rgba(0, 0, 0, 0.87);
    position: relative; }
    .bars-chart .bars-chart-bar.outter-value .bars-chart-value {
      transform: translateX(100%);
      display: inline-block;
      position: absolute;
      right: -3px; }
.bars-chart .bars-chart-icon {
  margin-right: 5px;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 2px;
  color: rgba(0, 0, 0, 0.76); }
.bars-chart .bars-chart-image {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 2px; }
.bars-chart .bars-chart-legend {
  list-style: none;
  font-size: .9em;
  text-align: center;
  margin: 1rem 0 0;
  padding: 0; }
  .bars-chart .bars-chart-legend i {
    font-size: 1.2rem;
    width: 16px;
    margin-top: -2px; }
  .bars-chart .bars-chart-legend li {
    display: inline-block;
    margin-bottom: 0; }
    .bars-chart .bars-chart-legend li + li {
      margin-left: 1rem; }

.widget-dark label, .widget-dark .bars-chart-bar.outter-value, .widget-dark .bars-chart-icon, .widget-dark .bars-chart-legend {
  color: White; }

widget-builder {
  display: block;
  height: 100%; }

.widget-builder {
  height: 100%; }
  .widget-builder .widget-builder-settings {
    width: 300px;
    border-right: solid 1px Grey;
    padding: 1rem;
    height: 100%;
    overflow: auto; }
    .widget-builder .widget-builder-settings ul {
      list-style: none;
      margin: 0 0 0 1rem;
      padding: 0 0 1rem; }

my-app {
  height: 100%;
  display: block; }
  my-app app-nav {
    display: block; }
  my-app dashboard-page {
    display: block;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
